extends layout

block content
  h1 Organization
  input#userName(type='text', placeholder='User Name')
  br
  input#password(type='password', placeholder='Password')
  br
  input#btnLogin(type='button', value='Sign In')
  br
  script(src='/javascripts/login.js')
  