extends layout

block content
  h1 Welcome
  #Dashboard Go to the dashboad
  #StorePicker Pick the store to configure this device
  script(src='/javascripts/dashboard.js')
  script(type='text/javascript', language='javascript').
    InitWelcomeScreen()

  